<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S市漂模拟</title>
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/desktop.css">
<link rel="stylesheet" href="/assets/css/window.css">
<link rel="stylesheet" href="/assets/css/crt.css">
<link rel="stylesheet" href="/assets/css/stock.css">
<link rel="stylesheet" href="/assets/css/chat.css">
<link rel="stylesheet" href="/assets/css/company.css">
<link rel="stylesheet" href="/assets/css/settings.css">
<link rel="stylesheet" href="/assets/css/modal.css">
<link href="https://cdn.jsdelivr.net/npm/zpix@3.1.0/dist/Zpix.woff2" rel="stylesheet" as="font" crossorigin>
